/venv/
/.vscode
/.vs
/.idea
/TestingSamples
*.pyc
__pycache__/
/Utils/__pycache__
/outputs/
/.env/*
/.env/bin/
/.env/lib/
/runs/
/controllers/__pycache__
/models/__pycache__
/models/preProcessor/__pycache__
/models/textCleaner/__pycache__
/models/textExtraction/__pycache__
/tests/__pycache__
best.pt